.homepage {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 2%,
    rgba(198, 98, 229, 1) 24%,
    rgba(79, 36, 115, 1) 84%
  );
}

body {
  background: rgb(198, 98, 229);
  background: linear-gradient(
    184deg,
    rgba(198, 98, 229, 1) 21%,
    rgba(79, 36, 115, 1) 98%
  );
}

.nav-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 5%;
  align-items: center;
}

#tinytanhome {
  padding-left: 10%;
}
#logo {
  padding-left: 40%;
}

a {
  color: black;
  text-decoration: none;
  font-size: x-large;
}

.home-content {
  padding: 10%;
  padding-top: 0%;
  margin: 0%;
}

.home-content p {
  color: aliceblue;
  text-align: justify;
  font-size: large;
}

#logline {
  text-align: center;
  font-size: x-large;
}
