body {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 7%,
    rgba(198, 98, 229, 1) 35%,
    rgba(79, 36, 115, 1) 84%
  );
}

.nav-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 5%;
  align-items: center;
}

#tinytanhome {
  padding-left: 10%;
}
#logo {
  padding-left: 40%;
}

a {
  color: aliceblue;
  text-decoration: none;
  font-size: x-large;
}
